<div class="grid">

    <div class="left-label">Left Directory:</div>
    <app-directory-picker
        class="left-dir-picker"
        [initialDirectory]="''"
        (onDirectoryChanged)="onLeftDirectoryChanged($event)"
    >
    </app-directory-picker>

    <div class="right-label">Right Directory:</div>
    <app-directory-picker
        class="right-dir-picker"
        [initialDirectory]="''"
        (onDirectoryChanged)="onRightDirectoryChanged($event)"
    >
    </app-directory-picker>

</div>

<div class="help-text">
    {{ vm.statusMessage | async }}
</div>
