.grid {
    display:               grid;
    grid-template-columns: auto 1fr;
    grid-template-rows:    auto auto;
    grid-template-areas: "left-label left-dir-picker"
                         "right-label right-dir-picker";
    justify-items:         stretch;    // stretch horizontally
    align-items:           center;     // center vertically
    justify-content:       stretch;
    align-content:         stretch;
}

.left-label {
    grid-area: left-label;
}

.left-dir-picker {
    grid-area: left-dir-picker;
}

.right-label {
    grid-area: right-label;
}

.right-dir-picker {
    grid-area: right-dir-picker;
}
